* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

html, body {
  font-family: "Dosis", sans-serif;
  background-color: #121212;
}

hr {
  border: 2px solid #f8f9fa;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  margin-top: 40px;
}

#perfil_foto {
  width: 100%;
  max-width: 300px;
  height: auto;
  max-height: 400px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.hidden {
  display: none;
}

#description {
  text-align: left;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: relative;
  left: -235px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

#typed-text {
  font-size: 1.5rem;
  white-space: normal; /* Evita quebra de linha durante a digitação */
  word-wrap: break-word;
  max-width: 500px;
  overflow: hidden; /* Oculta o texto que ainda não apareceu */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.sobre-img {
  display: flex;
  width: 400px;
  flex-direction: column;
  position: relative;
  align-items: right;
  align-content: right;
  float: right;
  border-radius: 35px 0 35px 0;
  margin-left: 50px;
}

.descricao__detalhada {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  text-align: left;
  font-size: 1.5rem;
  position: relative;
}

.clear {
  clear: both;
}

.label__size {
  font-size: 1.4rem;
  font-weight: bold;
}

#contato button {
  height: 55px;
  background-color: blue;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

.social__media {
  display: flex;
  position: relative;
  top: -200px;
  left: 20%;
  transform: translate(-20%);
}

.languages {
  position: relative;
  margin-top: 70px;
}

.languages ul {
  list-style-type: none;
}

.languages i {
  font-size: 38px;
}

#html {
  color: orangered;
}

#css {
  color: darkblue;
}

#js {
  color: yellow;
}

#bs {
  color: purple;
}

.principal__buttons {
  position: relative;
  top: 30px;
}

.principal__buttons span {
  margin: 0 10px;
}

.principal__buttons span button {
  width: 200px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: rgb(119, 36, 36);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  left: 130px;
}

@media screen and (max-width: 1024px) {
  section {
    width: 80%;
  }

  #perfil_foto {
    left: 70%;
    transform: translate(-55%);
    top: 40px;
  }

  #typed-text {
    width: 370px;
    position: relative;
    top: 20px;
    font-size: 1.0rem;
  }

  #description {
    position: relative;
    text-align: center;
    float: none; 
    margin-top: 450px;
    left: 50%;
    transform: translate(-35%);
  }

  .sobre-img {
    display: none;
  }

  .descricao__detalhada {
    top: -60px;
    font-size: 1.3rem;
  }

  .social__media {
    top: 15px;
    left: 70%;
    transform: translate(-50%);
  }

  .social__media__icons a {
    margin: 0 10px;
  }

  .languages {
    top: 50px;
  }

  .languages ul li {
    position: relative;
    top: -80px;
    margin: 0 10px;
  }

  .principal__buttons {
    position: relative;
    margin-top: -30px;
    margin-left: -7%;
    transform: translate(-25%);
  }

  .principal__buttons span {
    margin: 0 10px;
  }

  .principal__buttons span button {
    width: 200px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: rgb(119, 36, 36);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-flex;
    flex-direction: column;
  }
}